
body {
    font-family: "Lato", sans-serif;
    background-image: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);

}
h1 {
    color: #ceb42b;
}

p {
    color: darkblue;
}

table {
    table-layout: fixed;
    width: 90%;
    margin: 10px auto;
    border-collapse: collapse;
    background-color: #ff7fcd;
    border: 5px solid black
}

th,
td {
    padding: 0.6em;
}
.oscars
{display: flex}